/* src/App.css */
.app-container {
    display: flex;
    flex-direction: column; /* 纵向排列 */
    height: 100vh; /* 占满整个视口高度 */
}

.split {
    display: flex;
    flex-direction: row;
    flex: 1; /* 占满剩余空间 */
}

.gutter {
    background-color: var(--colorNeutralBackground4);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}